.slotVenue {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.timetable {
  float: left;
  margin: 0.5%;
}
.TimetableForm {
  margin: 0.5%;
}
.hidden {
  visibility: hidden;
}
